.product-specs {
    background: black;
    color: white;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .spec-item {
    border-top: 1px solid gray;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .spec-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .spec-item p {
    font-size: 1rem;
    max-width: 70%;
    line-height: 1.5;
  }
  @media (max-width: 768px) {
    .product-specs {
        padding: 30px 20px; 
    }
}

  